hrnet/Outputs
hrnet/models
hrnet/data
hrnet/cache
syncrowd/Outputs
syncrowd/data
detectron2/models
__pycache__/
.DS_Store
._*
*.pyc
*.ipynb_checkpoints
*.so
posefix/data
posefix/output
openpose_pytorch/model/body_pose.caffemodel
openpose_pytorch/model/hand_pose_model.pth
openpose_pytorch/model/hand_pose.caffemodel
openpose_pytorch/model/body_pose_model.pth
__pycache__/
.DS_Store
._*
*.pyc
*.ipynb_checkpoints
*.so
multipose2body/openpose_pytorch/model
openpose_pytorch/model/hand_pose_model.pth
openpose_pytorch/model/body_pose_model.pth
__pycache__/
.DS_Store
._*
*.pyc
*.ipynb_checkpoints
*.so
multipose2body/openpose_pytorch/model
