openpose_pytorch/model/body_pose_model.pth
openpose_pytorch/model/hand_pose_model.pth
pix2pixHD/checkpoints/multipose2body/latest_net_G.pth
pix2pixHD/checkpoints/multipose2body/20_net_G.pth
pix2pixHD/checkpoints/multipose2body/10_net_G.pth
__pycache__/
.DS_Store
._*
*.pyc
*.ipynb_checkpoints
*.so
openpose_pytorch/model
openpose/output
pix2pixHD/datasets
pix2pixHD/checkpoints
openpose_pytorch/model/body_pose_model.pth
openpose_pytorch/model/hand_pose_model.pth
pix2pixHD/checkpoints/multipose2body_person_left/latest_net_G.pth
pix2pixHD/checkpoints/multipose2body_person_left/20_net_G.pth
pix2pixHD/checkpoints/multipose2body_person_left/10_net_G.pth
pix2pixHD/checkpoints/multipose2body_person_right/50_net_G.pth
__pycache__/
.DS_Store
._*
*.pyc
*.ipynb_checkpoints
*.so
openpose_pytorch/model
openpose/output
pix2pixHD/datasets
pix2pixHD/checkpoints
pix2pixHD/results
